﻿@model PagedList.PagedList<websitebanhang.Models.EF.Wishlist>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 130px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản phẩm yêu thích</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news"> Sản phẩm yêu thích</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var strImge = "";
            var img = item.Product.ProductImage.FirstOrDefault(x => x.IsDefault);
            if (img != null)
            {
                strImge = img.Image;
            }
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="" title="@item.Product.Title"><img src="@strImge" alt="@item.Product.Title" /></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content-box">
                        <h3><a href="/@item.Product.Alias-n@(item.ProductId)" title="@item.Product.Title">@item.Product.Title</a></h3>
                        <div class="description-box">
                            @item.Product.Description
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    @*<a href="#" data-id="@item.Id" class="btn btn-danger">Xóa</a>*@
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }

</div>