@model PagedList.PagedList<websitebanhang.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Bài viết";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link href="/Content/PagedList.css" rel="stylesheet">
<!-- Slider -->

<style>
    

    .img-box img {
        max-width: 150px;
        max-height: 150px;
    }

</style>
<div class="container product_section_container">
    <div class="">
        <div class="">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Bài viết</a></li>
                </ul>
            </div>


            <div class="blogs">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div class="section_title">
                                <h2>Bài viết mới nhất</h2>
                            </div>
                        </div>
                    </div>


                    <div class="row blogs_container">

                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(Content/assets/images/3-3370.png)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">cảnh</h4>
                                    <span class="blog_meta">by ngáo</span>
                                    <a class="blog_more" href="">Chi tiết</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(Content/assets/images/3-3370.png)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">cảnh</h4>
                                    <span class="blog_meta">by ngáo</span>
                                    <a class="blog_more" href="">Chi tiết</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(Content/assets/images/3-3370.png)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">cảnh</h4>
                                    <span class="blog_meta">by ngáo</span>
                                    <a class="blog_more" href="">Chi tiết</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 blog_item_col">
                            <div class="blog_item">
                                <div class="blog_background" style="background-image: url(Content/assets/images/3-3370.png)"></div>
                                <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                                    <h4 class="blog_title">cảnh</h4>
                                    <span class="blog_meta">by ngáo</span>
                                    <a class="blog_more" href="">Chi tiết</a>
                                </div>
                            </div>
                        </div>


                    </div>

                    
                </div>
            </div>

            @*
        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url(Content/assets/images/3-3370.png)"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">cảnh</h4>
                        <span class="blog_meta">by ngáo</span>
                        <a class="blog_more" href="">Chi tiết</a>
                    </div>
                </div>
            </div>


        </div>*@

            <!--<div class="row row-cols-2">
    <div class="col">
        <section>
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">-->
            @* <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" /></a>
            *@
            <!--<img src="~/Content/assets/images/3-3370.png" alt="news_1" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="content-box" style="padding-left:15px">
            <h3>-->
            @*<a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a>*@
            <!--Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</h3>
    <div class="description-box">
        <p>Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</p>-->
            @*@item.Description*@
            <!--</div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col">
        <section>
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">-->
            @* <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" /></a>
            *@
            <!--<img src="~/Content/assets/images/3-3370.png" alt="news_1" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="content-box" style="padding-left:15px">
            <h3>-->
            @*<a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a>*@
            <!--Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</h3>
    <div class="description-box">
        <p>Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</p>-->
            @*@item.Description*@
            <!--</div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col">
        <section>
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">-->
            @* <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" /></a>
            *@
            <!--<img src="~/Content/assets/images/3-3370.png" alt="news_1" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="content-box" style="padding-left:15px">
            <h3>-->
            @*<a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a>*@
            <!--Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</h3>
    <div class="description-box">
        <p>Bản tin Euro: Vua Charles muốn tuyển Anh thắng sớm Tây Ban Nha</p>-->
            @*@item.Description*@
            <!--</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>-->

        </div>
    </div>
</div>
